/************ GENRAL SETTINGS ************/

:root{
    --color1: #004ce5;
    --color2: #4a80ee;
    --color3:#003297;
    --color4: #cecece;
    --color5: #363636;
    --color1-transparent-15: rgba(0, 76, 229, 0.15);
}

body{
    font-family: "Roboto", sans-serif;
    padding:0;
    margin:0;
}

.btn-primary{
    background-color: var(--color1);
    border-color: var(--color1);
}

.btn-primary:hover{
    background-color: var(--color2);
    border-color: var(--color2);
}


/************ SECTION TITLE ************/
.section-title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.section-title h2{
    font-weight: 900;
    color: var(--color5);
}

.section-title span{
    display: inline-block;
    width: 5rem;
    height: 0.5rem;
    background-color: var(--color2);
}




/************ TOPBAR ************/
.topbar{
    background-color: var(--color4);
    padding:0.5rem;
}

.topbar ul{
    list-style-type: none;
    display:flex;
    margin:0;
    padding:0;
    justify-content: flex-end;
}

.topbar ul li{
    padding-left: 1rem;
}


/************ MENUBAR ************/
.menubar .navbar-nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .menubar .navbar-nav{
        flex-direction: column;
    }
}


.menubar .navbar-nav a.active{
    border-bottom: 0.3rem solid var(--color2);
}

.menubar .navbar-nav a:hover{
    color: var(--color2) !important;
}


/************ SLIDER ************/
.slider{
    background-color: var(--color1-transparent-15);
}

.slider .carousel-caption{
    top:0;
    left:0;
    text-align: left;
}

.slider .carousel-control-next, 
.slider .carousel-control-prev{
    top:auto;
    bottom:15px;
    width:auto;
}

.slider .carousel-control-prev{
    right:50px;
    left:auto;
}

.slider form{
    background-color: white;
    padding:2rem;
    border-radius: 0.2rem;
}

.slider .input-group-text{
    font-size: 0.8rem;
}

.slider .row{
    align-items: center;
}


/************ CUSTOMER SERVICE CARD ************/

.customer-service-card .icon{
    color:var(--color2);
    font-size: 4rem;
}

.customer-service-card .row{
    align-items: center;
    text-align: center;
}